<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
   
</head>
<body>
    <iframe class="airtable-embed" src="https://airtable.com/embed/appE7tsLoi1TpQosE/shrwj9CSDmFjen70i?backgroundColor=gray&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>
    <style>
        body{
            height: 100vh;
        }
        body.embedded #embedBottomBarContainer {
            display: none;
        }
    </style>
</body>

</html>